# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets
.env
*.env
비번.txt
*password*
*secret*
*.key
*.pem
application-prod.yml
application-secret.yml

# Java / Spring
build/
target/
.gradle/
*.class
*.jar
*.war
*.ear

# Python
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/
python-pipeline/output/*.csv

# Logs
*.log

# Database
*.sqlite
*.db

# Temporary
tmp/
temp/
